@import url("https://use.typekit.net/efa7ivj.css");

$cursiveFont: 'dream-big-wide', cursive;
$sansSerifFont: 'arboria', sans-serif;
$cream: #FCFBF4;
$beige: #9F8C76;
$darkBeige: rgba(78,70,60,1);
$lightBeige: #dfb586;
$deepBlue: rgba(0,38,62,1);
$forestGreen: rgba(0,51,20,1);

@mixin flex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.slick-slider {
    cursor: pointer;
    position: relative;
    height: 75vh;
    width: 100vw;
    margin: auto;
    overflow: hidden;

    .slick-list,
    .slick-track,
    .slick-slide {
        height: 100%;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4rem;
        color: $cream;
        z-index: 10;
        cursor: pointer;
        //user-select: none;

        &::before {
            display: block;
            font-size: 4rem;
            width: 60px;
            height: 60px;            
        }

        &,
        &:hover
        &:focus {
            cursor: pointer;
        }
    }

    .slick-prev {
        transform: translateX(-50%);
        left: 5%;
        cursor: pointer;
    }

    .slick-next {
        transform: translateX(-50%);
        right: 5%;
        cursor: pointer;
    }

    .slick-dots {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        bottom: 8%;
        display: flex;
        justify-content: space-around;
        width: 50%;
        z-index: 10000;
        //border: 2px solid red;

        li {
            margin: 0 10px;
            

            button {
                cursor: pointer;

                &::before {
                    font-size: 25px;
                    color: $cream;
                    cursor: pointer;
                }

                &:hover,
                &:focus {
                    cursor: pointer;
                }
            }
    
            li.slick-active button::before {
                color: $lightBeige;
                width: 40px;
                height: 40px;
            }
        }
    }

    .slider-item {
        height: 100%;
        position: relative;

        a {
            display: block;
            height: 100%;
            width: 100%;
            position: relative;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .slide-caption {
                position: absolute;
                top: 5%;
                left: 5%;
                font-family: $sansSerifFont;
                font-size: 2rem;
                background-color: rgba(0, 0, 0, 0.6);
                padding: 1rem;
                border-radius: 15px;
                color: $cream;
                z-index: 1000;
                //outline: 1px solid red;
            }
        }
    }

    .slick-disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
