@import url("https://use.typekit.net/efa7ivj.css");

$cursiveFont: 'dream-big-wide', cursive;
$sansSerifFont: 'arboria', sans-serif;
$cream: #FCFBF4;
$beige: #9F8C76;
$darkBeige: rgba(78,70,60,1);
$lightBeige: #dfb586;
$deepBlue: rgba(0,38,62,1);
$forestGreen: rgba(0,51,20,1);


.gallery {
    display: flex;
    justify-content: center;
    padding: 20px;

    .photo-album {
        display: grid;
        gap: 10px;
        width: 100%;
        max-width: 1500px;

        @media (min-width: 1500px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (min-width: 1200px) and (max-width: 1499px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (min-width: 900px) and (max-width: 1199px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 600px) and (max-width: 899px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 599px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .photo-item {
        position: relative;
        cursor: pointer;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease-in-out;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.2s ease-in-out;
        }

        &:hover img {
            transform: scale(1.05);
        }
    }

    .photo-item-horizontal {
        grid-column: span 1;
        grid-row: span 1;
    }

    .photo-item-vertical {
        grid-column: span 1;
        grid-row: span 2;
    }
}

._2pA2G {
    font-family: $sansSerifFont !important;
    font-size: 1.5rem;
}