.gallery {
    width: 100%;
    .layout {
        display: flex;
        flex-wrap: wrap;
    }

    .react-grid-item {
        transition: all 0.2s ease;
        &:hover {
            z-index: 1;
        }
    }
}